@import '../../../vars.scss';

.roadmapItem{
  border: 5px solid $primary;
  background-color: $green;
  width: 100%;
  max-width: 570px;
  margin-bottom: 200px;
  color: $primary;
  font-family: Inter, sans-serif;
  .roadmap__header{
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $primary;
    .index{
      margin-right: 40px;
      aspect-ratio: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      background-color: $primary;
      color: $green;
    }
  }
  .roadmap__body{
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
      max-width: 370px;
    }
    img{
      margin-top: 30px;
      width: 100px;
    }
  }
}

@media (max-width: 767px) {
  .roadmapItem{
    .roadmap__body{
      flex-direction: column-reverse;
      align-items: center;
      img{
        width: 140px;
        margin-bottom: 30px;
        margin-top: 0;
      }
      p{
        text-align: center;
      }
    }
  }
}

@media (max-width: 767px) {
  .roadmapItem{
    .roadmap__body{
      padding: 20px 20px 40px;
    }
  }
}


@media (max-width: 575px) {
  .roadmapItem{
    .roadmap__header{
      .index{
        margin-right: 15px;
      }
    }
    .roadmap__body{
      padding: 40px 20px 40px;
    }
  }
}